@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
 @keyframes fadeIn {
    from { opacity: 0 ;
    translateY: (5%); }
    to { opacity: 1 ;
    translateY: (0%); }
 }


:root{
    --color-primario: #24A19C;
    --color-secundario: #FAEEE7;
    --color-terciario: #325288;
    --color-hover: #D96098;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
.header {
    padding: 2% 0% 0% 25%;
}
.header__nav {
    display: flex;
    gap: 80px;
}
.header__nav__link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
   
}
body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    
}

.presentacion {
    flex-direction: column;
    padding: 9.4% 25%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 62px;
    
}
.pro {
    display: flex;
    align-items: center;
    gap: 62px;
    margin-bottom: 80px;
}
.destaque {
    color: var(--color-terciario);
}
.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    opacity: 0;
    animation: fadeIn 2.5s ease-out forwards;
    animation-delay: 0.5s;
    
}
.presentacion__contenido__titulo {
    font-family: var(--fuente-krona);
    font-size: 2.25rem;
}
.presentacion__contenido__parrafo {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
}
.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__titulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link {
    width: 60%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
}
.presentacion__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    animation-delay: 1s;  
}
.presentacion__imagenes__1 {
    width: 35vh;
    height: 40vh;
}
.presentacion__imagenes__2 {
    width: 40vh;
    height: 37vh;
}
.presentacion__imagenes__3 {
    width: 40vh;
    height: 45vh;
    
}
.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px ) {
    .header {
        padding: 10%;
    }
    .header__nav {
        justify-content: center;
    }
    .presentacion {
        flex-direction: column;
        padding: 5%;
    }
    .presentacion__contenido {
        width: auto;
    }
}